<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TimeSheetBotService_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nmstsbot.ncdev.ru:7047/NMS_DEV/WS/PROD_2015-02-23_CUTTED/Codeunit/TimeSheetBotService"
                binding="basicHttpBinding" bindingConfiguration="TimeSheetBotService_Binding"
                contract="NMSServiceReference.TimeSheetBotService_Port" name="TimeSheetBotService_Port" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
