<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
      <add key="UserName" value="nav-svc"/>
      <add key="Password" value="l2K76RDmmC"/>
      <add key="Domain" value="ncdev"/>
    </appSettings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NMSService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
        <NMSService.Properties.Settings>
            <setting name="NMSService_NMSServiceReference_TimeSheetBotService"
                serializeAs="String">
                <value>https://nmstsbot.ncdev.ru/NMS_DEV/WS/PROD_2015-02-23_CUTTED/Codeunit/TimeSheetBotService</value>
            </setting>
        </NMSService.Properties.Settings>
    </applicationSettings>
</configuration>
